<div class="modal-body">
  <div class="images-container general-container">
    <div class="image-container">
      <img class="pokemon-image" [alt]="pokemonSelected.name" [src]="pokemonSelected.sprites.front_default" />
    </div>
    <div class="image-container">
      <img class="pokemon-image" [alt]="pokemonToCompare.name" [src]="pokemonToCompare.sprites.front_default" />
    </div>
  </div>
  <div class="compare-container">
    <div class="compare-text">
      {{pokemonSelected.height}}m
    </div>
    <div class="modal-subtitle compare-space">
      Height
    </div>
    <div class="compare-text">
      {{pokemonToCompare.height}}m
    </div>

    <div class="compare-text">
      {{pokemonSelected.weight}}
      kg
    </div>
    <div class="modal-subtitle compare-space">
      Weight
    </div>
    <div class="compare-text">
      {{pokemonToCompare.weight}}
      kg
    </div>
    <div class="compare-text">
      {{selectedDescription.gender_rate>4? "Female": "Male"}}
    </div>
    <div class="modal-subtitle compare-space">
      Gender
    </div>
    <div class="compare-text">
      {{genderToCompare}}
    </div>
    <div class="compare-abilities">
      <div *ngFor="let ability of pokemonSelected.abilities" class="compare-text">
        {{ability.ability.name}}
      </div>
    </div>
    <div class="modal-subtitle compare-space">
      Abilities
    </div>
    <div class="compare-abilities">
      <div *ngFor="let ability of pokemonToCompare.abilities" class="compare-text">
        {{ability.ability.name}}
      </div>
    </div>
  </div>
</div>